<ngg-icon *ngFor="let icon of icons" [iconName]="icon"></ngg-icon>

<div class="red">
  <h2>red or blue</h2>

  <div>
    <h4>flat</h4>
    <ngg-icon *ngFor="let icon of icons" [iconName]="icon"></ngg-icon>
  </div>

  <div>
    <h4>not flat</h4>
    <ngg-icon *ngFor="let icon of icons" [iconName]="icon" [isFlat]="false"></ngg-icon>
  </div>
</div>

<div>
  <h1>native sizes</h1>
  <div class="tiny">
    <h2>tiny</h2>
    <ngg-icon iconName="check" iconSize="tiny"></ngg-icon>
  </div>
  <div class="small">
    <h2>small</h2>
    <ngg-icon iconName="check" iconSize="small"></ngg-icon>
  </div>
  <div class="normal">
    <h2>normal</h2>
    <ngg-icon iconName="check" iconSize="normal"></ngg-icon>
  </div>
  <div class="large">
    <h2>large</h2>
    <ngg-icon iconName="check" iconSize="large"></ngg-icon>
  </div>
  <div class="extra-large">
    <h2>extra-large</h2>
    <ngg-icon iconName="check" iconSize="extra-large"></ngg-icon>
  </div>
</div>

<div class="custom-size">
  <h1>font-size: 60px</h1>

  <app-custom-size></app-custom-size>
</div>
