@import "../../../projects/icon/index";

:host {
  @include setNggIconSize(40px, .4, .8, 2, 4);
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

h2 {
  font-size: 20px;
}
