<code>
  @include setNggIconSize(40px, 0.4, 0.8, 2, 4);
</code>

<div class="icons">
  <div class="tiny">
    <h2>tiny: 40px * 0.4</h2>
    <ngg-icon [iconName]=iconName iconSize="tiny"></ngg-icon>
  </div>
  <div class="small">
    <h2>small: 40px * 0.8</h2>
    <ngg-icon [iconName]=iconName iconSize="small"></ngg-icon>
  </div>
  <div class="normal">
    <h2>normal: 40px</h2>
    <ngg-icon [iconName]=iconName iconSize="normal"></ngg-icon>
  </div>
  <div class="large">
    <h2>large: 40px * 2</h2>
    <ngg-icon [iconName]=iconName iconSize="large"></ngg-icon>
  </div>
  <div class="extra-large">
    <h2>extra-large: 40px * 4</h2>
    <ngg-icon [iconName]=iconName iconSize="extra-large"></ngg-icon>
  </div>
</div>
