<code>
  --ngg-icon-size-tiny: 15px;
  --ngg-icon-size-small: 25px;
  --ngg-icon-size-normal: 30px;
  --ngg-icon-size-large: 36px;
  --ngg-icon-size-extra-large: 40px;
</code>
<div class="individually-handled">
  <div class="tiny">
    <h2>tiny: 15px</h2>
    <ngg-icon [iconName]="iconName" iconSize="tiny"></ngg-icon>
  </div>
  <div class="small">
    <h2>small: 25px</h2>
    <ngg-icon [iconName]="iconName" iconSize="small"></ngg-icon>
  </div>
  <div class="normal">
    <h2>normal: 30px</h2>
    <ngg-icon [iconName]="iconName" iconSize="normal"></ngg-icon>
  </div>
  <div class="large">
    <h2>large: 36px</h2>
    <ngg-icon [iconName]="iconName" iconSize="large"></ngg-icon>
  </div>
  <div class="extra-large">
    <h2>extra-large: 40px</h2>
    <ngg-icon [iconName]="iconName" iconSize="extra-large"></ngg-icon>
  </div>
</div>

