<code>--ngg-icon-size: 20px</code>
<div class="base-changed">
  <div class="tiny">
    <h2>tiny: 20px * 0.5</h2>
    <ngg-icon [iconName]="iconName" iconSize="tiny"></ngg-icon>
  </div>
  <div class="small">
    <h2>small: 20px * 0.75</h2>
    <ngg-icon [iconName]="iconName" iconSize="small"></ngg-icon>
  </div>
  <div class="normal">
    <h2>normal: 20px</h2>
    <ngg-icon [iconName]="iconName" iconSize="normal"></ngg-icon>
  </div>
  <div class="large">
    <h2>large: 20px * 1.5</h2>
    <ngg-icon [iconName]="iconName" iconSize="large"></ngg-icon>
  </div>
  <div class="extra-large">
    <h2>extra-large: 20px * 2</h2>
    <ngg-icon [iconName]="iconName" iconSize="extra-large"></ngg-icon>
  </div>
</div>

